:root{
    --VeryDarkBlue: hsl(243, 87%, 12%);
--DesaturatedBlue: hsl(238, 22%, 44%);

--BrightBlue: hsl(224, 93%, 58%);
--ModerateCyan: hsl(170, 45%, 43%);


--LightGrayishBlue: hsl(240, 75%, 98%);
--LightGray: hsl(0, 0%, 75%);
--Raleway:'Raleway', sans-serif;;
--OpenSans:'Open Sans', sans-serif;
}

/* font */
.font-title{
    font-family: var(--Raleway);
    font-weight: 600;
}
.font-text{
    font-family: var(--Raleway);
    font-weight: 400;
    font-size: 16px;
}
.font-text2{
    font-family: var(--OpenSans);
    font-weight: 400;
    font-size: 16px;
}
/* text color */
.text-LightGray{
    color: var(--LightGray);
}
.text-VeryDarkBlue{
    color: var(--VeryDarkBlue);
}
.text-VeryDarkBlue:hover{
    color: var(--BrightBlue);
}
.no_text-decoration{
    text-decoration: none;
}

/* bg_hero */
.bg_hero input{
    width: 380px;
}
.bg_hero h1,p{
    text-align: center;
}
@media screen and (min-width:1000px) {
    .bg_hero h1,p{
        text-align: left;
    }   
}

/* page2 */
.page2{
    background-image: url(./images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
   background-size: 550px 70px;
}
.bg-LightGrayishBlue{
    background-color: var(--LightGrayishBlue);
}
.page2 a {
    text-underline-offset: 0.5em;
    margin-left:140px;
}
.img-rounded{
border-radius: 50%;
}
.page2 .content_title{
    font-size: 25px;
    text-align: center;
}
/* get early access */
.bg-DesaturatedBlue{
    background-color: var(--DesaturatedBlue);
}
.get_early_access h2{
    text-align: center;
 }
 /* contact us */
 .bg-VeryDarkBlue{
    background-color: var(--VeryDarkBlue);
 }
 .bg-facebook:hover{
    background-color: #1877F2;
}
.bg-twitter:hover{
    background-color: #1DA1F2;
}
.bg-instagram:hover{
    background:linear-gradient( #833AB4,#E1306C, #FD7E14);
}
.white-image {
    filter: brightness(0) invert(1);
}
.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_us a:hover{
    color: var(--BrightBlue);
}
@media screen and (min-width:1200px){
    .page2{
        background-image: url(./images/bg-curve-desktop.svg);
        background-repeat: no-repeat;
       background-size: 1640px 150px;
    }
    .page2 .content_title{
        font-size: 40px;
        text-align: left;
    }
    .page2 a {
        text-underline-offset: 0.5em;
        margin-left:0px;
    }
    .get_early_access input{
        width: 460px;
        border-radius: 5px;
        border: 1px solid black;
    }
    .get_early_access h2{
       text-align: left;
    }
    
}